{% extends 'base.html.twig' %}
{% block title %}Administrator{% endblock %}
{% block body %}
    {% include 'navs/admin.html.twig' %}
    <section class="container">
      {% include 'navs/sidebar.admin.html.twig' %}
      <div class="col-md-9">
			<h2><i class="fa fa-check-circle-o"></i>  Les résultats</h2>
			<hr>
				{% for group in groups %}				    
					<div class="col-md-3">
						<div class="card text-center">
						    <div class="card-header">{{group.classe.slug}} {{group.num}}</div>
						    <div class="card-block">
						    	<a href="{{path('admin_group_results', {'id': group.id})}}" class="btn btn-sm btn-success"><i class="fa fa-eye" aria-hidden="true"></i> Afficher</a>
						  </div>
						</div>
					</div>
				{% endfor %}

 		</div>
    </section><!-- /container -->
    
{% endblock %}
